<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<f:metadata>
    <f:viewAction action="#{adviceBean.init}"/>
</f:metadata>

<h:head>
    <title>Hype Advice</title>
    <meta name="author" content="The Author"></meta>
</h:head>

<h:body style="padding: 60px;">
    <b:navBar brand="Hype Advice" brandHref="#" fixed="top" inverse="true">
        <b:navbarLinks>
            <b:navLink value="Cadastro" href="http://localhost:8080/advice-crud.xhtml"></b:navLink>
            <b:navLink value="Pesquisa" href="http://localhost:8080/advice-list.xhtml"></b:navLink>
            <b:navLink value="Compras" href="http://localhost:8080/advice-shopping.xhtml"></b:navLink>

        </b:navbarLinks>
    </b:navBar>

    <b:container>
        <b:jumbotron>
            <b:messages globalOnly="true" showSummary="true" redisplay="false" id="mensagensComportamentais"/>

            <h:form id="form-advice-list">
                <h4 style="text-align:center">Conselhos Cadastrados</h4>

                <b:dataTable id="adviceTable" value="#{adviceBean.advices}" var="advice">
                    <b:dataTableColumn style="width:10%" value="#{advice.id}"/>
                    <b:dataTableColumn value="#{advice.nome}"/>
                    <b:dataTableColumn value="#{advice.descricao}"/>
                    <b:dataTableColumn value="#{advice.tipo}"/>
                    <b:dataTableColumn>
                        <h:outputText value="#{advice.tipo eq 'Gratuito' ? '-' : advice.preco}" />
                    </b:dataTableColumn>
                    <b:dataTableColumn style="width:15%">
                        <b:commandButton look="#{advice.tipo eq 'Gratuito' ? 'info' : 'success'}" update="form-advice-list"
                                         value="#{advice.tipo eq 'Gratuito' ? 'Obter' : 'Comprar'}" ajax="true"
                                         oncomplete="$('.amodal-example').modal('show');" style="margin-left: 15%;"
                                         actionListener="#{adviceBean.showEditModal(advice)}"/>
                    </b:dataTableColumn>
                </b:dataTable>

                <b:modal id="amodal" title="Comprar Conselho" class="amodal-example">
                    <h:form>
                        <b:inputText id="titulo" placeholder="Titulo" value="#{adviceBean.advice.nome}" label="Título"
                                     disabled="true"/>
                        <b:inputTextarea id="descricao" placeholder="Descrição" value="#{adviceBean.advice.descricao}"
                                         label="Descrição" disabled="true"/>

                        <div class="row">
                            <div class="col-md-4">
                                <div id="tipoBlock" style="display: inline-block;">
                                    <b:selectOneMenu id="tipo" value="#{adviceBean.advice.tipo}" label="Tipo de Conselho" disabled="true">
                                        <f:selectItem itemValue="Gratuito" itemLabel="Gratuito"/>
                                        <f:selectItem itemValue="Pago" itemLabel="Pago"/>
                                    </b:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div id="precoBlock" style="display: inline-block">
                                    <b:inputText id="preco" placeholder="Preço" value="#{adviceBean.advice.tipo eq 'Gratuito' ? '-' : adviceBean.advice.preco}"
                                                 label="Preço" disabled="true"/>
                                </div>
                            </div>
                        </div>


                        <b:inputText id="cliente" placeholder="Nome" value="#{adviceBean.compras.cliente}" label="Nome Completo"/>
                        <b:message for="@previous"/>

                        <b:row>
                            <b:column>
                                <b:commandButton update="@form mensagensComportamentais"
                                                 dismiss="modal"
                                                 value="Save" look="success"
                                                 oncomplete="if (!validationFailed) { $('.formValidationModalClass').modal('hide'); }"
                                                 actionListener="#{adviceBean.comprar_adquirir}"
                                                 onsuccess="$('.amodal-example').modal('hide'); $('#form-advice-list').find('input[type=text], textarea').val('');"/>
                            </b:column>
                        </b:row>

                        <b:fetchBeanInfos/>
                    </h:form>
                </b:modal>
            </h:form>
        </b:jumbotron>
    </b:container>
</h:body>
</html>
