<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<f:metadata>
    <f:viewAction action="#{adviceBean.init}"/>
</f:metadata>
<h:head>
    <title>Hype Advice</title>
    <meta name="author" content="The Author"></meta>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</h:head>
<h:body style="padding: 60px;">
    <b:navBar brand="Hype Advice" brandHref="#" fixed="top" inverse="true">
        <b:navbarLinks>
            <b:navLink value="Cadastro" href="http://localhost:8080/advice-crud.xhtml"></b:navLink>
            <b:navLink value="Pesquisa" href="http://localhost:8080/advice-list.xhtml"></b:navLink>
            <b:navLink value="Compras" href="http://localhost:8080/advice-shopping.xhtml"></b:navLink>
        </b:navbarLinks>
    </b:navBar>
    <b:container>
        <b:jumbotron>
            <b:messages globalOnly="true" showSummary="true" redisplay="false" id="mensagensGlobais"/>
            <h:form id="form-advice">
                <b:inputText id="name" placeholder="Nome..." value="#{adviceBean.advice.nome}" label="Cadastrar Conselho"/>
                <b:message for="@previous"/>

                <b:inputTextarea placeholder="Descrição..." value="#{adviceBean.advice.descricao}"/>
                <b:message for="@previous"/>

                <b:selectOneMenu id="tipoConselho" value="#{adviceBean.advice.tipo}" style="width:20%" label="Tipo de Conselho">
                    <f:selectItem itemValue="" itemLabel="-"/>
                    <f:selectItem itemValue="Gratuito" itemLabel="Gratuito"/>
                    <f:selectItem itemValue="Pago" itemLabel="Pago"/>
                    <f:ajax render="accordion" listener="#{adviceBean.handleTipoConselhoChange}" />
                </b:selectOneMenu>

                <b:commandButton value="Definir Preço"
                                 onclick="if ($('#tipoConselho').val() === 'Pago') { adviceBean.mostrarAccordion = true; }" />

                <b:accordion id="accordion" expanded-panels="panel1" style="width:20%" rendered="#{adviceBean.mostrarAccordion}" >
                    <b:panel id="panel1" title="Defina um preço">
                        <h:panelGrid columns="1" cellpadding="5">
                            <b:inputText label="Preço:" id="preco" labelStyle="width:80px;" value="#{adviceBean.advice.preco}" disabled="if ($('#tipoConselho').val() === 'Pago')">
                                <f:facet name="prepend">
                                    <h:outputText value="$" />
                                </f:facet>
                                <f:facet name="append">
                                    <h:outputText value=".00" />
                                </f:facet>
                            </b:inputText>
                            <b:message for="@previous"/>
                        </h:panelGrid>
                    </b:panel>
                </b:accordion>

                <b:commandButton actionListener="#{adviceBean.salvar}"
                                 update="form-advice form-advice-list mensagensGlobais" value="Salvar"/>

                <b:commandButton actionListener="#" look="info" value="Gerar">
                    <f:ajax onevent="click" listener="#{adviceBean.gerar}" render="form-advice" look="success" onclick="alert('clicked!'); return false;" />
                </b:commandButton>
            </h:form>
        </b:jumbotron>

        <b:jumbotron>

            <b:messages globalOnly="true" showSummary="true" redisplay="false" id="mensagensComportamentais"/>

            <h:form id="form-advice-list">
                <h4 style="text-align:center">Conselhos Cadastrados</h4>

                <b:dataTable id="modalTable" value="#{adviceBean.advices}" var="advice">
                    <b:dataTableColumn style="width:10%" value="#{advice.id}" />
                    <b:dataTableColumn value="#{advice.nome}" />
                    <b:dataTableColumn value="#{advice.descricao}" />
                    <b:dataTableColumn value="#{advice.tipo}" />
                    <b:dataTableColumn value="#{advice.tipo eq 'Gratuito' ? '-' : advice.preco}" />
                    <b:dataTableColumn value="#{advice.quantidadeCompras}"/>
                    <b:dataTableColumn style="width:20%">
                        <b:commandButton look="warning" update="form-advice-list" value="Editar" ajax="true"
                                         oncomplete="$('.amodal-example').modal('show');" style="margin-rigth: 10%;"
                                         actionListener="#{adviceBean.showEditModal(advice)}" />
                        <b:commandButton actionListener="#{adviceBean.excluir(advice)}" look="danger"
                                         update="form-advice-list mensagensComportamentais" value="Excluir" style="margin-left: 10%;"  />
                    </b:dataTableColumn>
                </b:dataTable>

                <b:modal id="amodal" title="Comprar Conselho" class="amodal-example">
                    <h:form>
                        <b:inputText id="titulo" placeholder="Titulo" value="#{adviceBean.advice.nome}" label="Título"
                                     />
                        <b:inputTextarea id="descricao" placeholder="Descrição" value="#{adviceBean.advice.descricao}"
                                         label="Descrição" />

                        <div class="row">
                            <div class="col-md-4">
                                <div id="tipoBlock" style="display: inline-block;">
                                    <b:selectOneMenu id="tipo" value="#{adviceBean.advice.tipo}" label="Tipo de Conselho" >
                                        <f:selectItem itemValue="Gratuito" itemLabel="Gratuito"/>
                                        <f:selectItem itemValue="Pago" itemLabel="Pago"/>
                                    </b:selectOneMenu>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div id="precoBlock" style="display: inline-block">
                                    <b:inputText id="preco" placeholder="Preço" value="#{adviceBean.advice.preco}"
                                                 label="Preço" disabled="false"/>
                                </div>
                            </div>
                        </div>

                        <b:row>
                            <b:column>
                                <b:commandButton update="form-advice-list @form mensagensComportamentais" dismiss="modal"
                                                 value="Atualizar" look="warning"
                                                 oncomplete="if (!validationFailed) { $('.formValidationModalClass').modal('hide'); }"
                                                 actionListener="#{adviceBean.atualizar}"
                                                 onsuccess="$('.amodal-example').modal('hide'); $('#form-advice-list').find('input[type=text], textarea').val('');"/>
                            </b:column>
                        </b:row>

                        <b:fetchBeanInfos/>
                    </h:form>
                </b:modal>
            </h:form>

        </b:jumbotron>
    </b:container>
</h:body>
</html>